{% extends 'base.html' %}

{% block title %}INCES{% endblock %}

{% block content %}
    <div class="alumnos-options__wrapper">
        <h1>Empresas INCES</h1>

        <div class="alumnos-options__container">
            <button class="btn btn-primary btn-reporte" onclick="imprimirReporte()">Generar reporte</button>
            <button class="btn btn-primary btn-excel" onclick="migrarExcel()">Migrar a excel</button>
            <button class="btn btn-primary btn-crear" data-bs-toggle="modal" data-bs-target="#crear-empresa-modal">Crear empresa</button>
            <form action="{{url_for('inces.buscar_empresa')}}" method="post" class="filtrar-alumno__form">
                <input type="search" placeholder="Buscar empresa" class="filtrar-alumno__input" name="empresa">
            </form>
        </div>

        <hr class="divider">
    </div>

    <div class="table-responsive">
        <table class="table table-striped-columns table-alumnos" id="tablaAlumnos">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
            </tr>

            {% for empresa in empresas %}
                <tr>
                    <td>{{empresa.id}}</td>
                    <td>{{empresa.nombre}}</td>
                    <td class="tabla-btn">
                        <button class="btn btn-primary" idEmpresa="{{empresa.id}}" empresa="{{empresa.nombre}}" data-bs-toggle="modal" data-bs-target="#edit-empresa-modal" onclick="obtenerDataEditEmpresa(this.getAttribute('idEmpresa'), this.getAttribute('empresa'))">
                            Editar
                        </button>
                    </td>
                    <td class="tabla-btn">
                        <button class="btn btn-danger" idEmpresa="{{empresa.id}}" onclick="eliminar_empresa(this.getAttribute('idEmpresa'))">
                            Eliminar
                        </button>
                    </td>
                    
                </tr>

            {% endfor %}

        </table>
    </div>

    <div class="modal fade" id="crear-empresa-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Nueva empresa</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="crear-empresa-form" onsubmit="crear_empresa(event)">

                <label>Nombre de la empresa</label>
                <input type="text" class="form-control mb-3" name="empresa" id="nombreEmpresa" onkeypress="return validarTecla(event)">
                <button type="submit" class="btn btn-primary w-100 btn-crear-profesor">Guardar</button>
                </form>
            </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="edit-empresa-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar empresa</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="edit-empresa-form" onsubmit="editar_empresa(event, this.getAttribute('idEmpresa'))">

                <label>Nombre de la empresa</label>
                <input type="text" class="form-control mb-3" name="empresa" id="edit-nombreEmpresa" onkeypress="return validarTecla(event)">
                <button type="submit" class="btn btn-primary w-100 btn-crear-profesor">Guardar</button>
                </form>
            </div>
            </div>
        </div>
    </div>

    <script src="../../../../js/excel.js"></script>
    <script src="https://unpkg.com/xlsx@latest/dist/xlsx.full.min.js"></script>
    <script src="https://unpkg.com/file-saverjs@latest/FileSaver.min.js"></script>
    <script src="https://unpkg.com/tableexport@latest/dist/js/tableexport.min.js"></script>
{% endblock %}