{% extends 'base.html' %}

{% block title %}INCES{% endblock %}

{% block content %}
    <div class="alumnos-options__wrapper">
        <h1>Empresas INCES</h1>

        <div class="alumnos-options__container">
            <button class="btn btn-primary btn-reporte" onclick="imprimirReporte()">Generar reporte</button>
            <button class="btn btn-primary btn-excel" onclick="migrarExcel()">Migrar a excel</button>
            <button class="btn btn-primary btn-crear" onclick="location.href = '/inces/crear_curso'">Crear empresa</button>
            <form action="{{url_for('cursos.buscar_curso')}}" method="post" class="filtrar-alumno__form">
                <input type="search" placeholder="Buscar empresa" class="filtrar-alumno__input" name="empresa">
            </form>
        </div>

        <hr class="divider">
    </div>

    <div class="table-responsive">
        <table class="table table-striped-columns table-alumnos" id="tablaAlumnos">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
            </tr>

            {% for empresa in empresas %}
                <tr>
                    <td>{{empresa.id}}</td>
                    <td>{{empresa.nombre}}</td>
                    <td class="tabla-btn">
                        <a class="editar-link">
                            <button class="btn btn-primary">
                                Editar
                            </button>
                        </a>
                    </td>
                    <td class="tabla-btn">
                        <button class="btn btn-danger" idEmpresa="{{empresa.id}}" onclick="elim_curso(this.getAttribute('idEmpresa'))">
                            Eliminar
                        </button>
                    </td>
                    
                </tr>

            {% endfor %}

        </table>
    </div>
{% endblock %}