{% extends 'base.html' %}

{% block title %}INCES{% endblock %}

{% block content %}

    <style>
        body{
            overflow-x: hidden;
        }
    </style>

    <div class="alumnos-options__wrapper">
        <h1>Inscripciones INCES</h1>

        <div class="alumnos-options__container">
            <button class="btn btn-primary btn-crear" data-bs-toggle="modal" data-bs-target="#crear-alumno-modal">Crear Alumno</button>
        </div>


        <hr class="divider">
    </div>

    <div class="cedula-input__container">
        <form class="buscar-alumno-inscripcion__form" id="buscar-alumno-inscripcion">
            <input type="search" class="input-cedula-inscripciones" placeholder="Ingresar cédula" id="inscripcion-buscar-cedula" name="cedula">
            <button class="btn btn-primary" onclick="buscar_alumno()" type="submit">Buscar alumno</button>
        </form>
    </div>
    <div class="inces-insc__wrapper" style="width: 100%; height: 100%; display: none; flex-direction: column; justify-content: center; align-items: center; gap: 30px; margin-top: 30px;" id="inces-insc__wrapper">

        <div class="img-inces">
            <img src="" alt="" id="img-alumno-inscripcion">
        </div>

        <form class="insc-inces__form" id="formInces">
            <div class="form-group">
                <label>Alumno</label>
                <input type="text" class="form-control mb-3" name="nombre" id="alumno-nombre-inscripcion" maxlength="12" readonly>
                <input type="text" class="form-control mb-3" name="apellido" id="alumno-apellido-inscripcion" maxlength="20" readonly>
                <input type="number" class="form-control mb-3" name="cedula" id="alumno-cedula-inscripcion" readonly>
                <input type="hidden" id="alumno-id-inscripcion">
            </div>
            <div class="form-group">
                <label>Periodo</label>
                <input type="date" class="form-control mb-3" name="InicioPeriodo" id="InicioPeriodo">
                <input type="date" class="form-control mb-3" name="FinPeriodo" id="FinPeriodo">
            </div>
            <div class="form-group">
                <label>Buscar empresa</label>
                <div class="custom-select-container">
                    <input type="text" 
                        class="form-control search-input" 
                        id="searchInputEmpresa" 
                        placeholder="Buscar empresa..."
                        autocomplete="off">
                    
                    <div class="custom-select" id="customSelectEmpresa">
                        <!-- Las opciones se generarán dinámicamente -->
                    </div>

                    <!-- Input oculto para almacenar el valor seleccionado -->
                    <input type="hidden" id="selectedValueEmpresa">
                    <div class="mt-3" style="display: none;">
                        <small class="text-muted">Empresa seleccionada: <span id="selectedTextEmpresa">Ninguno</span></small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Buscar curso</label>
                <div class="custom-select-container">
                    <input type="text" 
                        class="form-control search-input" 
                        id="searchInput" 
                        placeholder="Buscar curso..."
                        autocomplete="off">
                    
                    <div class="custom-select" id="customSelect">
                        <!-- Las opciones se generarán dinámicamente -->
                    </div>
                </div>
                
                <!-- Input oculto para almacenar el valor seleccionado -->
                <input type="hidden" id="selectedValue">
                
                <div class="mt-3" style="display: none;">
                    <small class="text-muted">Curso seleccionado: <span id="selectedText">Ninguno</span></small>
                </div>
            </div>

            <div class="form-group" style="display: none;" id="selectSeccion">
                <label>Buscar seccion</label>
                <div class="custom-select-container">
                    <input type="text" 
                        class="form-control search-input" 
                        id="searchInputSecciones" 
                        placeholder="Buscar seccion..."
                        autocomplete="off">
                    
                    <div class="custom-select" id="customSelectSecciones">
                        <!-- Las opciones se generarán dinámicamente -->
                    </div>
                </div>
                
                <!-- Input oculto para almacenar el valor seleccionado -->
                <input type="hidden" id="selectedValueSecciones">
                
                <div class="mt-3" style="display: none;">
                    <small class="text-muted">Curso seleccionado: <span id="selectedTextSecciones">Ninguno</span></small>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Inscribir</button>
        </form>

    </div>

    <div class="modal fade" id="crear-alumno-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo Alumno</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="crear-alumno-form" onsubmit="crearAlumno(event)">

                        <label>Nombre</label>
                        <input type="text" class="form-control mb-3" name="nombre" id="nombreAlumno" onkeypress="return validarTecla(event)">

                        <label>Segundo nombre</label>
                        <input type="text" class="form-control mb-3" name="segundoNombre" id="segundoNombreAlumno" onkeypress="return validarTecla(event)">

                        <label>Apellido</label>
                        <input type="text" class="form-control mb-3" name="apellido" id="apellidoAlumno" onkeypress="return validarTecla(event)">

                        <label>Segundo apellido</label>
                        <input type="text" class="form-control mb-3" name="segundoApellido" id="segundoApellidoAlumno" onkeypress="return validarTecla(event)">

                        <label>Cedula</label>
                        <input type="number" class="form-control mb-3" name="cedula" id="cedulaAlumno">

                        <label>Email</label>
                        <input type="email" class="form-control mb-3" name="email" id="emailAlumno">

                        <label>Contraseña</label>
                        <div class="contraseña-input-profesores__container">
                            <input type="password" class="form-control mb-3" name="contraseña" id="contraseñaAlumno"> 
                            <i class="fa-solid fa-eye-slash icono-contraeña__profesores" id="contraseña-icon" id-input="contraseñaAlumno" onclick="mostrar_contraseña(this.getAttribute('id-input'))"></i>
                        </div> 

                        <label>Imagen</label>
                        <input type="file" class="form-control mb-3" name="imagen" id="imagenAlumno">

                        <button type="submit" class="btn btn-primary w-100 btn-crear-profesor">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/searchSelectEmpresas.js') }}"></script>
    <script src="{{ url_for('static', filename='js/searchSelectCursos.js') }}"></script>
    <script src="{{ url_for('static', filename='js/searchSelectSecciones.js') }}"></script>

{% endblock %}