{% extends 'base.html' %}
{% block title %} Inicio de sesion {% endblock %}

{% block content %} 
        <div class="login_wrapper">
            <div class="img-background">

            </div>

            <div class="login-form__container">
                <form action="" method="post">
                    <div class="input__container">
                        <label for="cedula">Cédula</label>
                        <input type="number" placeholder="30897643" maxlength="6" id="cedula" name="cedula">
                    </div>

                    <div class="input__container">
                        <label for="contraseña">Contraseña</label>
                        <input type="password" id="contraseña" name="contraseña">
                    </div>
                </form>
            </div>
        </div>
{% endblock %}