{% extends 'base.html' %}
{% block title %}Inicio{% endblock %}

{% block content %}

    <style>
        body {
            overflow-x: hidden !important;
        }
    </style>
    
    <div class="logo-cadi-inicio">
        <div class="logo-cadi-mov"></div>
    </div>

    <div class="inicio__wrapper">
        <div class="info-card" {% if current_user.rol == 'administrador' %} onclick="href('/profesores/')" {% endif %}>
            <div class="icon-info__container">
                <i class="fa-solid fa-person-chalkboard"></i>
            </div>
            <div class="info__container" id="stats-profesores">
                <p id="num-profesores">0</p>
                <p>Profesores</p>
            </div>
        </div>

        <div class="info-card" {% if current_user.rol == 'administrador' %} onclick="href('/alumnos/')" {% endif %}>
            <div class="icon-info__container">
                <i class="fa-solid fa-person"></i>
            </div>
            <div class="info__container" id="stats-alumnos">
                <p id="num-alumnos">0</p>
                <p>Alumnos</p>
            </div>
        </div>

        <div class="info-card" {% if current_user.rol == 'administrador' %} onclick="href('/cursos/')" {% endif %}>
            <div class="icon-info__container">
                <i class="fa-solid fa-chalkboard"></i>
            </div>
            <div class="info__container" id="stats-cursos">
                <p id="num-cursos">0</p>
                <p>Cursos</p>
            </div>
        </div>

        <div class="info-card" {% if current_user.rol == 'administrador' %} onclick="href('/facultades/')" {% endif %}>
            <div class="icon-info__container">
                <i class="fa-solid fa-building"></i>
            </div>
            <div class="info__container" id="stats-facultades">
                <p id="num-facultades">0</p>
                <p>Facultades</p>
            </div>
        </div>
    </div>
    
    {% if current_user.rol == 'administrador' %}
    <div class="graficos__wrapper">
        <div class="grafico__container">
            <div class="grafico-header">
                <button class="btn-descargar" onclick="descargarGrafica('inscripcionesChart', 'distribucion-inscripciones')" style="background-color: #833d3d;">
                    <i class="fa-solid fa-download"></i>      
                </button>
            </div>
            <canvas id="inscripcionesChart"></canvas>
        </div>
    </div>
    {% endif %}

    <!--
    <script src="{{ url_for('static', filename='js/darkMode.js') }}">

        document.addEventListener('DOMContentLoaded', inicializarGrafico);
    </script>
    -->

{% endblock %}
