{% extends 'base.html' %}
{% block title %} Recuperación de cuenta {% endblock %}

{% block content %} 
        <div class="login__wrapper">
            <div class="img-background">
            </div>

            <div class="login-form__container">

                <form class="user-form" idusuario="{{user}}" onsubmit="recuperar_contraseña(this.getAttribute('idusuario'))">
                    <div class="input__container">
                        <label for="contraseña">Contraseña</label>
                        <div class="password-input-login__container">
                            <input type="password" id="recuperar-contraseña" name="contraseña">
                            <i class="fa-solid fa-eye-slash" id="contraseña-icon" id-input="recuperar-contraseña" onclick="mostrar_contraseña(this.getAttribute('id-input'))"></i>
                        </div>
                    </div>

                    <div class="input__container">
                        <label for="contraseña">Contraseña</label>
                        <div class="password-input-login__container">
                            <input type="password" id="recuperar-contraseña-confirmar" name="contraseña">
                            <i class="fa-solid fa-eye-slash" id="contraseña-icon" id-input="recuperar-contraseña-confirmar" onclick="mostrar_contraseña(this.getAttribute('id-input'))"></i>
                        </div>
                    </div>

                    <div class="button__container">
                        <button type="submit" class="btn btn-primary">Confirmar</button>
                    </div>
                </form>
            </div>
        </div>
{% endblock %}