{% extends 'base.html' %}
{% block title %} Registro {% endblock %}

{% block content %}

        <div class="login__wrapper regist__wrapper">
            <div class="img-background regist-img">
            </div>

            <div class="login-form__container regist-form__container">
                <form class="user-form regist-form" id="form-regist" onsubmit="regist_user(event)">
                    <div class="input__container">
                        <label for="name">Nombre</label>
                        <input type="text" id="name" name="nombre" onkeypress="return validarTecla(event)">
                    </div>

                    <div class="input__container">
                        <label for="surname">Segundo nombre</label>
                        <input type="text" id="surname" name="segundoNombre" onkeypress="return validarTecla(event)">
                    </div>

                    <div class="input__container">
                        <label for="lastname">Apellido</label>
                        <input type="text" id="lastname" name="apellido" onkeypress="return validarTecla(event)">
                    </div>

                    <div class="input__container">
                        <label for="second_lastname">Segundo apellido</label>
                        <input type="text" id="second_lastname" name="segundoApellido" onkeypress="return validarTecla(event)">
                    </div>

                    <div class="input__container">
                        <label for="cedula">Cédula</label>
                        <input type="number" placeholder="30897643" id="cedula" name="cedula">
                    </div>

                    <div class="input__container">
                        <label for="email">Corre electrónico</label>
                        <input type="email" placeholder="example@gmail.com" id="email" name="email">
                    </div>
                    <div class="input__container">
                        <label for="contraseña">Contraseña</label>
                        <div class="password-input-login__container" style="width: 100%;">
                            <input type="password" id="contraseña" name="contraseña" style="width: 100% !important;">
                            <i class="fa-solid fa-eye-slash" id="contraseña-icon" id-input="contraseña" onclick="mostrar_contraseña(this.getAttribute('id-input'))"></i>
                        </div>
                    </div>
                    <div class="button__container">
                        <button type="submit" class="btn btn-primary">Registrame</button>
                        <a href="{{url_for('usuario.index')}}" class="login-link">¿Ya tienes una cuenta?</a>
                    </div>
                </form>
            </div>
        </div>

{% endblock %}