{% extends 'base.html' %}

{% block title %}Inventario{% endblock %}

{% block content %}
    
    <div class="alumnos-options__wrapper">
        <h1>Historial de facturación</h1>

        <div class="alumnos-options__container">
            <button class="btn btn-primary btn-reporte" onclick="imprimirReporte()">Generar reporte</button>
            <button class="btn btn-primary btn-excel" onclick="migrarExcel()">Migrar a excel</button>
            <form action="{{url_for('facturacion.historial')}}" method="post" class="filtrar-alumno__form">
                <input type="search" placeholder="Buscar por cédula" class="filtrar-alumno__input" name="cedula">
            </form>
        </div>

        <hr class="divider">
    </div>

    <div class="table-responsive">
        <table class="table table-striped-columns table-alumnos" id="tablaAlumnos">
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Teléfono</th>
                <th>Cédula</th>
                <th>Dirección</th>
                <th>Productos</th>
                <th>Monto</th>
                <th>Fecha</th>
            </tr>

            {% for record in facturas %}
                <tr>
                    <td id="td-id-fatura">{{record.idFactura}}</td>
                    <td>{{record.cliente}}</td>
                    <td>{{record.telefono}}</td>
                    <td>{{record.cedula}}</td>
                    <td>{{record.direccion}}</td>
                    <td>{{record.productos}}</td>
                    <td>{{record.total}}</td>
                    <td>{{record.fecha}}</td>
                    <td class="tabla-btn"><button class="btn btn-danger" idFactura="{{record.idFactura}}" onclick="elim_factura(this.getAttribute('idFactura'))">Eliminar</button></td>
                </tr>
            {% endfor %}

        </table>
    </div>

    <script src="../../../../js/excel.js"></script>
    <script src="https://unpkg.com/xlsx@latest/dist/xlsx.full.min.js"></script>
    <script src="https://unpkg.com/file-saverjs@latest/FileSaver.min.js"></script>
    <script src="https://unpkg.com/tableexport@latest/dist/js/tableexport.min.js"></script>

{% endblock %}