{% extends 'base.html' %}

{% block title %}Alumnos{% endblock %}

{% block content %}

    <style>
        body{
            overflow-x: hidden;
        }
    </style>
    
    <div class="alumnos-options__wrapper">
        <h1>Editar registro familiar</h1>
        <hr class="divider">
    </div>

    {% for record in familia %}

            <div class="edit-h2__container first-h2"><h2>{{record.nombre}} {{record.apellido}}</h2></div>
            <hr class="divider">
            <div class="edit__container">
                {% if record.imagen != None %}
                    <div class="img-editar">
                        <img src="{{url_for('usuario.get_profile_image', idusuarios=record.idusuarios)}}" alt="{{record.nombre}} {{record.apellido}}">
                    </div>
                {% endif %}
            </div>

            <div class="edit-h2__container"><h2>Datos del papá</h2></div>
            <hr class="divider">
            <form class="edit__container" id="form-edit-papa" idFamilia="{{record.idFamilia}}" onsubmit="edit_datos_papa(this.getAttribute('idFamilia'), event)">
                <input type="text" value="{{record.NombrePapa}}" id="editNombrePapa" maxlength="12">
                <input type="text" value="{{record.ApellidoPapa}}" id="editApellidoPapa" maxlength="12">
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </form>

            <div class="edit-h2__container"><h2>Datos de la mamá</h2></div>
            <hr class="divider">
            <form class="edit__container" id="form-edit-mama" idFamilia="{{record.idFamilia}}" onsubmit="edit_datos_mama(this.getAttribute('idFamilia'), event)">
                <input type="text" value="{{record.NombreMama}}" maxlength="20" id="editNombreMama">
                <input type="text" value="{{record.ApellidoMama}}" maxlength="20" id="editApellidoMama">
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </form>

            <div class="edit-h2__container"><h2>Contacto</h2></div>
            <hr class="divider">
            <form class="edit__container" id="form-edit-contacto" idFamilia="{{record.idFamilia}}" onsubmit="edit_datos_contacto(this.getAttribute('idFamilia'), event)">
                <input type="number" value="{{record.Telefono}}" id="edit-contacto">
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </form>

    {% endfor %}

{% endblock %}