{% extends 'base.html' %}
{% block title %} Alumnos {% endblock %}

{% block content %}
    
    <div class="alumnos-options__wrapper">
        <h1>Alumnos</h1>

        <div class="alumnos-options__container">
            <button class="btn btn-primary btn-reporte">Generar reporte</button>
            <button class="btn btn-primary btn-excel">Migrar a excel</button>
            <form action="{{url_for('alumnos.buscar_alumno')}}" method="post" class="filtrar-alumno__form">
                <input type="search" placeholder="Buscar por cédula" class="filtrar-alumno__input" name="cedula">
            </form>
        </div>

        <hr class="divider">
    </div>

    <div class="table-responsive">
        <table class="table table-striped-columns table-alumnos" id="tablaAlumnos">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Segundo nombre</th>
                <th>Apellido</th>
                <th>Segundo apellido</th>
                <th>Cédula</th>
                <th>Email</th>
            </tr>

            {% for alumno in alumnos %}
                <tr>
                    <td>{{alumno.idAlumno}}</td>
                    <td>{{alumno.nombre}}</td>
                    <td>{{alumno.segundoNombre}}</td>
                    <td>{{alumno.apellido}}</td>
                    <td>{{alumno.SegundoApellido}}</td>
                    <td>{{alumno.cedula}}</td>
                    <td>{{alumno.email}}</td>
                    <td class="tabla-btn">
                        <a href="{{url_for('alumnos.edit_alumno', idusuarios=alumno.idusuarios)}}" class="editar-link">
                          <button class="btn btn-primary">
                            Editar
                          </button>
                        </a>
                      </td>
                    <td class="tabla-btn"><button class="btn btn-danger" idusuarios="{{alumno.idusuarios}}" onclick="eliminar_usuario(this.getAttribute('idusuarios'))">Eliminar</button></td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}