{% extends 'base.html' %}
{% block title %} Alumnos {% endblock %}

{% block content %}
    
    <div class="alumnos-options__wrapper">
        <h1>Alumnos</h1>

        <div class="alumnos-options__container">
            <button class="btn btn-primary btn-reporte" onclick="imprimirReporte()">Generar reporte</button>
            <button class="btn btn-primary btn-excel" onclick="migrarExcel()">Migrar a excel</button>
            <form action="{{url_for('alumnos.buscar_alumno')}}" method="post" class="filtrar-alumno__form">
                <input type="search" placeholder="Buscar por cédula" class="filtrar-alumno__input" name="cedula">
            </form>
        </div>

        <hr class="divider">
    </div>

    <div class="table-responsive">
        <table class="table table-striped-columns table-alumnos" id="tablaAlumnos">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Segundo nombre</th>
                <th>Apellido</th>
                <th>Segundo apellido</th>
                <th>Cédula</th>
                <th>Email</th>
            </tr>

            {% for alumno in alumnos %}
                <tr>
                    <td id="td-id-alumno">{{alumno.idusuarios}}</td>
                    <td>{{alumno.nombre}}</td>
                    <td>{{alumno.segundoNombre}}</td>
                    <td>{{alumno.apellido}}</td>
                    <td>{{alumno.SegundoApellido}}</td>
                    <td>{{alumno.cedula}}</td>
                    <td>{{alumno.email}}</td>
                    <td class="tabla-btn">
                        <button class="btn btn-primary btn-secciones" idAlumno="{{alumno.idusuarios}}" onclick="get_id_alumno(this.getAttribute('idAlumno'))" data-bs-toggle="modal" data-bs-target="#crear-registro-familiar-modal">
                            Crear registro familiar
                        </button>
                    </td>
                    <td class="tabla-btn">
                        <a href="{{url_for('alumnos.edit_alumno', idusuarios=alumno.idusuarios)}}" class="editar-link">
                            <button class="btn btn-primary">
                            Editar
                            </button>
                        </a>
                    </td>
                    <td class="tabla-btn"><button class="btn btn-danger" idusuarios="{{alumno.idusuarios}}" onclick="eliminar_usuario(this.getAttribute('idusuarios'))">Eliminar</button></td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="modal fade" id="crear-registro-familiar-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Crear registro familiar</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="crear-registro-familiar-form" onsubmit="crear_registro_familiar(this.getAttribute('idalumno'), event)">

                            <label>Nombre papá</label>
                            <input type="text" class="form-control mb-3" name="nombrepapa" id="nombrePapa" maxlength="12">

                            <label>Apellido papá</label>
                            <input type="text" class="form-control mb-3" name="apellidoPapa" id="apellidoPapa" maxlength="12">

                            <label>Nombre mamá</label>
                            <input type="text" class="form-control mb-3" name="nombreMama" id="nombreMama" maxlength="20">

                            <label>Apellido mamá</label>
                            <input type="text" class="form-control mb-3" name="apellidoMama" id="apellidoMama" maxlength="20">

                            <label>Contacto</label>
                            <input type="number" class="form-control mb-3" name="contacto" id="contactoFamilia">

                            <button type="submit" class="btn btn-primary w-100 btn-crear-profesor">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
    </div>

    <script src="../../../../js/excel.js"></script>
    <script src="https://unpkg.com/xlsx@latest/dist/xlsx.full.min.js"></script>
    <script src="https://unpkg.com/file-saverjs@latest/FileSaver.min.js"></script>
    <script src="https://unpkg.com/tableexport@latest/dist/js/tableexport.min.js"></script>

{% endblock %}