{% extends 'base.html' %}
{% block title %} Alumnos {% endblock %}

{% block content %}

    {% with errors = get_flashed_messages(category_filter=["error"])%}
    {% if errors %}
    {% for error in errors%}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{error}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button>
        </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    
    <div class="alumnos-options__wrapper">
        <h1>Registro familiar del alumno</h1>

        <div class="alumnos-options__container">
            <button class="btn btn-primary btn-reporte">Generar reporte</button>
            <button class="btn btn-primary btn-excel">Migrar a excel</button>
            <form action="{{url_for('alumnos.buscar_registro_familiar')}}" method="post" class="filtrar-alumno__form">
                <input type="search" placeholder="Buscar por cédula" class="filtrar-alumno__input" name="cedula">
            </form>
        </div>

        <hr class="divider">
    </div>

    <div class="table-responsive">
        <table class="table table-striped-columns table-alumnos" id="tablaAlumnos">
            <tr>
                <th>ID</th>
                <th>Nombre alumno</th>
                <th>Segundo nombre alumno</th>
                <th>Apellido alumno</th>
                <th>Segundo apellido alumno</th>
                <th>Nombre papá</th>
                <th>Apellido papá</th>
                <th>Nombre mamá</th>
                <th>Apellido mamá</th>
                <th>Contácto</th>
            </tr>

            {% for familia in familias %}
            <tr>
                <td>{{familia.idFamilia}}</td>
                <td>{{familia.nombre}}</td>
                <td>{{familia.segundoNombre}}</td>
                <td>{{familia.apellido}}</td>
                <td>{{familia.SegundoApellido}}</td>
                <td>{{familia.NombrePapa}}</td>
                <td>{{familia.ApellidoPapa}}</td>
                <td>{{familia.NombreMama}}</td>
                <td>{{familia.ApellidoMama}}</td>
                <td>{{familia.Telefono}}</td>
                <td class="tabla-btn"><button class="btn btn-primary">Editar</button></td>
                <td class="tabla-btn"><button class="btn btn-danger">Eliminar</button></td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}