{% extends 'base.html' %}

{% block title %}Profesores{% endblock %}

{% block content %}

    <style>
        body{
            overflow-x: hidden;
        }
    </style>
    
    <div class="alumnos-options__wrapper">
        <h1>Editar Profesores</h1>
        <hr class="divider">
    </div>

    {% for record in profesor %}

            <div class="edit-h2__container first-h2"><h2>Imágen</h2></div>
            <hr class="divider">
            <div class="edit__container">
                <div class="img-editar">
                    {% if record.imagen %}
                        <img src="{{url_for('usuario.get_profile_image', idusuarios=record.idusuarios)}}" alt="{{record.nombre}} {{record.apellido}}">
                    {% endif %}
                </div>
                <form id="updateFoto">
                    <input type="file" id="fotoPerfil">
                    <button type="submit" class="btn btn-primary" idusuarios="{{record.idusuarios}}" onclick="update_foto(this.getAttribute('idusuarios'))">Actualizar</button>
                </form>
            </div>

            <div class="edit-h2__container"><h2>Nombres del profesor</h2></div>
            <hr class="divider">
            <div class="edit__container">
                <input type="text" name="nombre" value="{{record.nombre}}" id="editNombre" maxlength="12">
                <input type="text" name="segundoNombre" value="{{record.segundoNombre}}" id="editSegundoNombre" maxlength="12">
                <button type="submit" class="btn btn-primary" idusuarios="{{record.idusuarios}}" onclick="edit_nombres(this.getAttribute('idusuarios'))">Actualizar</button>
            </div>

            <div class="edit-h2__container"><h2>Apellidos del profesor</h2></div>
            <hr class="divider">
            <div class="edit__container">
                <input type="text" name="apellido" value="{{record.apellido}}" maxlength="20">
                <input type="text" name="segundoApellido" value="{{record.segundoApellido}}" maxlength="20">
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </div>

            <div class="edit-h2__container"><h2>Email del profesor</h2></div>
            <hr class="divider">
            <div class="edit__container">
                <input type="email" name="email" value="{{record.email}}" id="edit-email">
                <button type="submit" class="btn btn-primary" idusuarios="{{record.idusuarios}}" onclick="edit_email(this.getAttribute('idusuarios'))">Actualizar</button>
            </div>

            <div class="edit-h2__container"><h2>Especialidad del profesor</h2></div>
            <hr class="divider">
            <div class="edit__container">
                <input type="text" name="especialidad" value="{{record.especialidad}}">
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </div>

    {% endfor %}

{% endblock %}