{% extends 'base.html' %}

{% block title %}Profesores{% endblock %}

{% block content %}

    <style>
        body{
            overflow-x: hidden;
        }
    </style>
    
    <div class="alumnos-options__wrapper">
        <h1>Editar Profesores</h1>
        <hr class="divider">
    </div>

    <div class="edit-h2__container first-h2"><h2>Imágen</h2></div>
    <hr class="divider">
    <div class="edit__container">
        <div class="img-editar-profesor">
            <img src="" alt="">
        </div>
        <input type="file">
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </div>

    <div class="edit-h2__container"><h2>Nombres del profesor</h2></div>
    <hr class="divider">
    <div class="edit__container">
        <input type="text" name="nombre">
        <input type="text" name="segundoNombre">
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </div>

    <div class="edit-h2__container"><h2>Apellidos del profesor</h2></div>
    <hr class="divider">
    <div class="edit__container">
        <input type="text" name="apellido">
        <input type="text" name="segundoApellido">
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </div>

    <div class="edit-h2__container"><h2>Email del profesor</h2></div>
    <hr class="divider">
    <div class="edit__container">
        <input type="email" name="email">
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </div>

    <div class="edit-h2__container"><h2>Especialidad del profesor</h2></div>
    <hr class="divider">
    <div class="edit__container">
        <input type="text" name="especialidad">
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </div>

{% endblock %}