{% extends 'base.html' %}

{% block title %}Profesores{% endblock %}

{% block content %}
    
    <div class="alumnos-options__wrapper">
        <h1>Profesores</h1>

        <div class="alumnos-options__container">
            <button class="btn btn-primary btn-reporte">Generar reporte</button>
            <button class="btn btn-primary btn-excel">Migrar a excel</button>
            <button class="btn btn-primary btn-crear" data-bs-toggle="modal" data-bs-target="#crear-profesor-modal">Crear profesor</button>
            <form action="" method="post" class="filtrar-alumno__form">
                <input type="search" placeholder="Buscar por cédula" class="filtrar-alumno__input" name="cedula">
            </form>
        </div>

        <hr class="divider">
    </div>

    <div class="table-responsive">
        <table class="table table-striped-columns table-alumnos" id="tablaAlumnos">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Segundo nombre</th>
                <th>Apellido</th>
                <th>Segundo apellido</th>
                <th>Cédula</th>
                <th>Email</th>
                <th>Departamento</th>
            </tr>

            {% for profesor in profesores %}
                <tr>
                    <td>{{profesor.idProfesor}}</td>
                    <td>{{profesor.nombre}}</td>
                    <td>{{profesor.segundoNombre}}</td>
                    <td>{{profesor.apellido}}</td>
                    <td>{{profesor.SegundoApellido}}</td>
                    <td>{{profesor.cedula}}</td>
                    <td>{{profesor.email}}</td>
                    <td>{{profesor.especialidad}}</td>
                    <td class="tabla-btn">
                      <button class="btn btn-primary">
                        <a href="{{url_for('profesores.edit_profesores', idusuarios=profesor.idusuarios)}}" class="editar-link">Editar</a>
                      </button>
                    </td>
                    <td class="tabla-btn"><button class="btn btn-danger" idusuarios="{{profesor.idusuarios}}" onclick="eliminar_profesor(this.getAttribute('idusuarios'))">Eliminar</button></td>
                    
                </tr>

            {% endfor %}

        </table>
    </div>

    <div class="modal fade" id="crear-profesor-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo Profesor</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="" method="post" id="crear-profesor-form">

                <label>Nombre</label>
                <input type="text" class="form-control mb-3" name="nombre" id="nombreProfesor" maxlength="12">

                <label>Segundo nombre</label>
                <input type="text" class="form-control mb-3" name="segundoNombre" id="segundoNombreProfesor" maxlength="12">

                <label>Apellido</label>
                <input type="text" class="form-control mb-3" name="apellido" id="apellidoProfesor" maxlength="20">

                <label>Segundo apellido</label>
                <input type="text" class="form-control mb-3" name="segundoApellido" id="segundoApellidoProfesor" maxlength="20">

                <label>Cedula</label>
                <input type="number" class="form-control mb-3" name="cedula" id="cedulaProfesor" maxlength="8">

                <label>Email</label>
                <input type="email" class="form-control mb-3" name="email" id="emailProfesor" maxlength="50">

                <label>Contraseña</label>
                <input type="password" class="form-control mb-3" name="contraseña" id="contraseñaProfesor" maxlength="8">

                <label>Imagen</label>
                <input type="file" class="form-control mb-3" name="imagen" id="imagenProfesor">

                <label class="label-tipo">Especialidad</label>
                <input type="text" class="form-control mb-3" name="especialidad" id="especialidadProfesor" maxlength="20">

                <button type="submit" class="btn btn-primary w-100 btn-crear-profesor" onclick="crearProfesor()">Guardar</button>
              </form>
            </div>
          </div>
        </div>
      </div>

{% endblock %}