{% extends 'base.html' %}

{% block title %}Mis secciones{% endblock %}

{% block content %}
    <div class="alumnos-options__wrapper">
        <h1>Secciones de {{current_user.nombre}} {{current_user.apellido}}</h1>
        <hr class="divider">
    </div>

    <div class="mis-secciones__wraper">

        {% for record in secciones %}
            <div class="mis-secciones__card">
                <div class="seccion-card__img">
                    Imágen
                </div>
                <div class="secciones-card__container">
                    <h2>{{ record.nombre_curso }}</h2>
                    <h3>Sección: {{ record.seccion }}</h5>
                    <div class="seccion-participante__container">
                        <i class="fa-solid fa-user-group"></i>
                        <p>{{ record.participantes }}</p>
                        <a {% if record.participantes > 0 %} href="{{url_for('cursos.calificaciones', idSeccion=record.idSeccion)}}" class="editar-link" {% endif %}>
                            <button class="btn btn-primary">Corte de notas</button>
                        </a>
                    </div>
                </div>
            </div>
            
        {% endfor %}

    </div>
{% endblock %}