{% extends 'base.html' %}
{% block title %} Calificaciones {% endblock %}

{% block content %} 
    <div class="alumnos-options__wrapper">
        <h1>Calificaciones {{data[0].nombre_curso.lower()}}, sección {{data[0].seccion}}</h1>
        <h2>Periodo {{calificaciones[0].fecha_inscripcion}} - {{calificaciones[0].fecha_expiracion}}</h2>

        <div class="alumnos-options__container">
            <button class="btn btn-primary btn-reporte" onclick="imprimirReporte()">Generar reporte</button>
            <button class="btn btn-primary btn-excel" onclick="migrarExcel()">Migrar a excel</button>
            <button class="btn btn-primary btn-crear" id="toggle-calificacion" onclick="toggleInputNotas()">Activar modificación</button>
            <form action="" method="post" class="filtrar-alumno__form">
                <input type="search" placeholder="Buscar periodo" class="filtrar-alumno__input" name="periodo">
            </form>
        </div>

        <hr class="divider">
    </div>

    <div class="table-responsive">
        <table class="table table-striped-columns table-alumnos" id="tablaAlumnos">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Segundo nombre</th>
                <th>Apellido</th>
                <th>Segundo apellido</th>
                <th>Cédula</th>
                <th>Logro 1</th>
                <th>Logro 2</th>
                <th>Logro 3</th>
                <th>Logro 4</th>
                <th>Logro 5</th>
                <th>Definitiva</th>
            </tr>

            {% for record in calificaciones %}
                <tr>
                    <td>{{record.idCalificacion}}</td>
                    <td>{{record.nombre}}</td>
                    <td>{{record.segundoNombre}}</td> 
                    <td>{{record.apellido}}</td>
                    <td>{{record.segundoApellido}}</td>  
                    <td>{{record.cedula}}</td>

                    <td>
                        <input class="calificacion-input mod-calificacion" id="input-logro1-{{record.idusuarios}}" type="text" value="{% if record.logro_1 != None %} {{record.logro_1}} {% else %} {% endif %}" idSeccion="{{data[0].idSeccion}}" idAlumno="{{record.idusuarios}}" readonly onchange="colocar_logro_uno(this.getAttribute('idSeccion'), this.getAttribute('idAlumno'))">
                    </td>

                    <td>
                        <input class="calificacion-input mod-calificacion" id="input-logro2-{{record.idusuarios}}" type="text" value="{% if record.logro_2 != None %} {{record.logro_2}} {% else %} {% endif %}" idSeccion="{{data[0].idSeccion}}" idAlumno="{{record.idusuarios}}" readonly onchange="colocar_logro_dos(this.getAttribute('idSeccion'), this.getAttribute('idAlumno'))">
                    </td>  
                    <td>
                        <input class="calificacion-input mod-calificacion" id="input-logro3-{{record.idusuarios}}" type="text" value="{% if record.logro_3 != None %} {{record.logro_3}} {% else %} {% endif %}" idSeccion="{{data[0].idSeccion}}" idAlumno="{{record.idusuarios}}" readonly onchange="colocar_logro_tres(this.getAttribute('idSeccion'), this.getAttribute('idAlumno'))">
                    </td>  

                    <td>
                        <input class="calificacion-input mod-calificacion" id="input-logro4-{{record.idusuarios}}" type="text" value="{% if record.logro_4 != None %} {{record.logro_4}} {% else %} {% endif %}" idSeccion="{{data[0].idSeccion}}" idAlumno="{{record.idusuarios}}" readonly onchange="colocar_logro_cuatro(this.getAttribute('idSeccion'), this.getAttribute('idAlumno'))">
                    </td>
                    
                    <td>
                        <input class="calificacion-input mod-calificacion" id="input-logro5-{{record.idusuarios}}" type="text" value="{% if record.logro_5 != None %}{{record.logro_5}} {% else %} {% endif %}" idSeccion="{{data[0].idSeccion}}" idAlumno="{{record.idusuarios}}" readonly onchange="colocar_logro_cinco(this.getAttribute('idSeccion'), this.getAttribute('idAlumno'))">
                    </td>

                    <td>
                        <input class="calificacion-input" type="text" id="input-def-{{record.idusuarios}}" value="{% if record.definitiva != None %} {{record.definitiva}} {% else %} {% endif %}" readonly>
                    </td>

                </tr>
            {% endfor %}

        </table>
    </div>

    <script src="../../../../js/excel.js"></script>
    <script src="https://unpkg.com/xlsx@latest/dist/xlsx.full.min.js"></script>
    <script src="https://unpkg.com/file-saverjs@latest/FileSaver.min.js"></script>
    <script src="https://unpkg.com/tableexport@latest/dist/js/tableexport.min.js"></script>

{% endblock %}