{% extends 'base.html' %}
{% block title %} Calificaciones {% endblock %}

{% block content %} 
    <div class="alumnos-options__wrapper">
        <h1>Calificaciones {{data[0].nombre_curso}}, sección {{data[0].seccion}}</h1>
        <h2 id="periodo-seccion">Periodo {% if calificaciones|length > 0 %} {{calificaciones[0].fecha_inscripcion}} - {{calificaciones[0].fecha_expiracion}} {% endif %}</h2>
        <h3 id="curso-nombre" style="display: none;">{{data[0].nombre_curso}}, sección {{data[0].seccion}}</h3>

        <div class="alumnos-options__container calificaciones-opt__container" style="align-items: center;">
            <button class="btn btn-primary btn-reporte" onclick="imprimirReporte()" style="height: 40px;">Generar reporte</button>
            <button class="btn btn-primary btn-excel" data-bs-toggle="modal" data-bs-target="#reportes-calificaciones-modal" style="height: 40px;">Opciones excel</button>
            <button class="btn btn-primary btn-crear" id="toggle-calificacion" onclick="toggleInputNotas()" style="height: 40px;">Activar modificación</button>
            <form id="formFechas" action="{{url_for('cursos.filtrar_periodos', idSeccion=data[0].idSeccion)}}" method="post" class="filtrar-alumno__form" style="display: flex; justify-content: center; align-items: center; gap: 20px; flex-wrap: wrap;">
                <div class="fecha-group mb-3">
                    <label for="fecha_desde">Desde:</label>
                    <input type="date" id="fecha_desde" name="fecha_desde" class="form-control" required value="{{ fecha_desde_seleccionada if fecha_desde_seleccionada else '' }}">
                </div>
                
                <div class="fecha-group mb-3">
                    <label for="fecha_hasta">Hasta:</label>
                    <input type="date" id="fecha_hasta" name="fecha_hasta" class="form-control" required value="{{ fecha_hasta_seleccionada if fecha_hasta_seleccionada else '' }}">
                </div>

                <div class="fecha-group mb-3" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <label for="btn-fecha">Filtrar por fechas:</label>
                    <button type="submit" class="btn btn-primary" style="width: 169px; height: 38px;">Filtrar</button>
                </div>
            </form>
        </div>

        <hr class="divider">
    </div>

    <div class="graficos__wrapper" 
        data-calificaciones="{{ calificaciones | tojson | forceescape }}">
        
        <!-- Gráfica 1: Distribución de Calificaciones -->
        <div class="grafico__container">
            <div class="grafico-header">
                <button class="btn-descargar" onclick="descargarGrafica('calificacionesChart', 'distribucion-calificaciones')">
                    <i class="fa-solid fa-download"></i>
                </button>
            </div>              
            <canvas id="calificacionesChart"></canvas>
        </div>
        
        <!-- Gráfica 2: Asistencias vs Inasistencias -->
        <div class="grafico__container">
            <div class="grafico-header">
                <button class="btn-descargar" onclick="descargarGrafica('asistenciasChart', 'asistencias-inasistencias')">
                    <i class="fa-solid fa-download"></i>
                </button>
            </div>
            <canvas id="asistenciasChart"></canvas>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped-columns table-alumnos" id="tablaAlumnos">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Segundo nombre</th>
                <th>Apellido</th>
                <th>Segundo apellido</th>
                <th>Cédula</th>
                <th>Logro 1</th>
                <th>Logro 2</th>
                <th>Logro 3</th>
                <th>Logro 4</th>
                <th>Logro 5</th>
                <th>Definitiva</th>
                <th>Asistencias</th>
                <th>Inasistencias</th>
            </tr>

            {% for record in calificaciones %}
                <tr>
                    <td>{{record.idCalificacion}}</td>
                    <td>{{record.nombre}}</td>
                    <td>{{record.segundoNombre}}</td> 
                    <td>{{record.apellido}}</td>
                    <td>{{record.segundoApellido}}</td>  
                    <td>{{record.cedula}}</td>

                    <td>
                        <input class="calificacion-input mod-calificacion" id="input-logro1-{{record.idusuarios}}" type="text" value="{% if record.logro_1 != None %} {{record.logro_1}} {% endif %}" idSeccion="{{data[0].idSeccion}}" idAlumno="{{record.idusuarios}}" readonly onchange="colocar_logro_uno(this.getAttribute('idSeccion'), this.getAttribute('idAlumno'), this.getAttribute('idInscripcion'))"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                        idInscripcion="{{record.idInscripcion}}">
                    </td>

                    <td>
                        <input class="calificacion-input mod-calificacion" id="input-logro2-{{record.idusuarios}}" type="text" value="{% if record.logro_2 != None %} {{record.logro_2}} {% else %} {% endif %}" idSeccion="{{data[0].idSeccion}}" idAlumno="{{record.idusuarios}}" readonly onchange="colocar_logro_dos(this.getAttribute('idSeccion'), this.getAttribute('idAlumno'), this.getAttribute('idInscripcion'))"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                        idInscripcion="{{record.idInscripcion}}">
                    </td>  
                    <td>
                        <input class="calificacion-input mod-calificacion" id="input-logro3-{{record.idusuarios}}" type="text" value="{% if record.logro_3 != None %} {{record.logro_3}} {% else %} {% endif %}" idSeccion="{{data[0].idSeccion}}" idAlumno="{{record.idusuarios}}" readonly onchange="colocar_logro_tres(this.getAttribute('idSeccion'), this.getAttribute('idAlumno'), this.getAttribute('idInscripcion'))"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                        idInscripcion="{{record.idInscripcion}}">
                    </td>  

                    <td>
                        <input class="calificacion-input mod-calificacion" id="input-logro4-{{record.idusuarios}}" type="text" value="{% if record.logro_4 != None %} {{record.logro_4}} {% else %} {% endif %}" idSeccion="{{data[0].idSeccion}}" idAlumno="{{record.idusuarios}}" readonly onchange="colocar_logro_cuatro(this.getAttribute('idSeccion'), this.getAttribute('idAlumno'), this.getAttribute('idInscripcion'))"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                        idInscripcion="{{record.idInscripcion}}">
                    </td>
                    
                    <td>
                        <input class="calificacion-input mod-calificacion" id="input-logro5-{{record.idusuarios}}" type="text" value="{% if record.logro_5 != None %}{{record.logro_5}} {% else %} {% endif %}" idSeccion="{{data[0].idSeccion}}" idAlumno="{{record.idusuarios}}" readonly onchange="colocar_logro_cinco(this.getAttribute('idSeccion'), this.getAttribute('idAlumno'), this.getAttribute('idInscripcion'))"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                        idInscripcion="{{record.idInscripcion}}">
                    </td>

                    <td>
                        <input class="calificacion-input {% if record.definitiva < 14 %} reprobado {% else %} {% endif %}" type="text" id="input-def-{{record.idusuarios}}" value="{% if record.definitiva != None %} {{record.definitiva}} {% else %} {% endif %}" readonly>
                    </td>

                    <td>
                        <input class="calificacion-input mod-calificacion" id="asistencia-{{record.idusuarios}}" type="text" value="{% if record.asistencia != None %}{{record.asistencia}} {% else %} {% endif %}" idInscripcion="{{record.idInscripcion}}" idAlumno="{{record.idusuarios}}" readonly 
                        onchange="asistencia(this.getAttribute('idInscripcion'), this.getAttribute('idAlumno'))"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                    </td>

                    <td>
                        <input class="calificacion-input mod-calificacion {% if record.inasistencia >= 3 %} reprobado {% else %} {% endif %}" id="inasistencia-{{record.idusuarios}}" type="text" value="{% if record.inasistencia != None %}{{record.inasistencia}} {% else %} {% endif %}" idInscripcion="{{record.idInscripcion}}" idAlumno="{{record.idusuarios}}" readonly 
                        onchange="inasistencia(this.getAttribute('idInscripcion'), this.getAttribute('idAlumno'))"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                    </td>

                </tr>
            {% endfor %}

        </table>
    </div>

    <div class="modal fade" id="reportes-calificaciones-modal" tabindex="-1" aria-labelledby="filtrarSeccionesModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <!-- Header -->
                    <div class="modal-header bg-primary text-white">
                        <h1 class="modal-title fs-5" id="filtrarSeccionesModalLabel">Reportes calificaciones</h1>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    
                    <!-- Body -->
                    <div class="modal-body">
                        <div style="
                        display: flex; 
                        justify-content: center; 
                        align-items: center; 
                        gap: 50px; 
                        width: 100%;
                        margin-bottom: 30px;">
                            <a href="" style="
                            border: none; 
                            color: transparent;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 20px;
                            width: max-content;
                            ">
                                <i class="fa-solid fa-file-excel"
                                style="
                                color: #333;
                                font-size: 4rem;
                                font-weight: 500;"
                                ></i>
                                <span style="color: #333; font-size: 1.2rem;">Cargar notas</span>
                            </a>

                            <a href="{{url_for('cursos.obtener_planilla', curso=data[0].nombre_curso, seccion=data[0].seccion, fecha_inscripcion= calificaciones[0].fecha_inscripcion, fecha_expiracion= calificaciones[0].fecha_expiracion, idSeccion=data[0].idSeccion)}}" style="
                            border: none; 
                            color: transparent;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 20px;
                            width: max-content;">
                            <i class="fa-solid fa-graduation-cap"
                            style="
                            color: #333;
                            font-size: 4rem;
                            font-weight: 500;"
                            ></i>
                            <span style="color: #333; font-size: 1.2rem;">Obtener planilla de sección</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <script>
        // Validación del formulario de fechas
        document.getElementById('formFechas').addEventListener('submit', function(e) {
            const desde = document.getElementById('fecha_desde').value;
            const hasta = document.getElementById('fecha_hasta').value;
            
            if (!desde || !hasta) {
                e.preventDefault();
                alert('Por favor, selecciona ambas fechas');
                return;
            }
            
            if (desde > hasta) {
                e.preventDefault();
                alert('La fecha "Desde" no puede ser mayor que "Hasta"');
                return;
            }
        });
    </script>

    <script src="../../../../js/excel.js"></script>
    <script src="https://unpkg.com/xlsx@latest/dist/xlsx.full.min.js"></script>
    <script src="https://unpkg.com/file-saverjs@latest/FileSaver.min.js"></script>
    <script src="https://unpkg.com/tableexport@latest/dist/js/tableexport.min.js"></script>

{% endblock %}