{% extends 'base.html' %}

{% block title %}Cursos{% endblock %}

{% block content %}

    <style>
        body{
            overflow-x: hidden;
        }
    </style>
    
    <div class="alumnos-options__wrapper">
        <h1>Crear sección</h1>
        <hr class="divider">
    </div>

    <div class="crear-seccion__wrapper">
        <div class="crear-seccion__main-container">
            <div class="edit-h2__container crear-seccion__container"><h2>Sección</h2></div>
            <hr class="divider">
            <div class="edit__container">
                <input type="text" id="crearSeccion">
            </div>
        </div>

        <div class="crear-seccion__main-container">
            <div class="edit-h2__container crear-seccion__container"><h2>Profesor de la sección</h2></div>
            <hr class="divider">
            <div class="edit__container">
                <select name="" id="">
                    <option value="Seleccione un profesor">Seleccione un profesor</option>
                    {% for record in profesores %}
                        <option value="{{record.idProfesor}}">{{record.nombre}} {{record.apellido}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="crear-seccion__main-container">
            <div class="edit-h2__container crear-seccion__container"><h2>Creación de horario para la sección</h2></div>
            <hr class="divider">
                <div class="table-responsive horario__container crear-horario" id="horario__container">
                <table class="table table-bordered border-dark table-horario" id="tabla-horario">
                    <tr>
                        <th>Hora</th>
                        <th>Lunes</th>
                        <th>Martes</th>
                        <th>Miércoles</th>
                        <th>Jueves</th>
                        <th>Viernes</th>
                        <th>Sábado</th>
                    </tr>

                    <tr>
                        <td class="hora-td">8:00-9:00 am</td>
                        <td element="td-lunes-8-9am" id="td-lunes-8-9am" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-martes-8-9am" id="td-martes-8-9am" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-miercoles-8-9am" id="td-miercoles-8-9am" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-jueves-8-9am" id="td-jueves-8-9am" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-viernes-8-9am" id="td-viernes-8-9am" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-sabado-8-9am" id="td-sabado-8-9am" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>

                    </tr>

                    <tr>
                        <td class="hora-td">9:00-10:00 am</td>
                        <td element="td-lunes-9-10am" id="td-lunes-9-10am" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-martes-9-10am" id="td-martes-9-10am" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-miercoles-9-10am" id="td-miercoles-9-10am" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-jueves-9-10am" id="td-jueves-9-10am" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-viernes-9-10am" id="td-viernes-9-10am" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-sabado-9-10am" id="td-sabado-9-10am" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                    </tr>

                    <tr>
                        <td class="hora-td">10:00-11:00 am</td>
                        <td element="td-lunes-10-11am" id="td-lunes-10-11am" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-martes-10-11am" id="td-martes-10-11am" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-miercoles-10-11am" id="td-miercoles-10-11am" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-jueves-10-11am" id="td-jueves-10-11am" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-viernes-10-11am" id="td-viernes-10-11am" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-sabado-10-11am" id="td-sabado-10-11am" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                    </tr>

                    <tr>
                        <td class="hora-td">11:00-12:00 am</td>
                        <td element="td-lunes-11-12am" id="td-lunes-11-12am" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-martes-11-12am" id="td-martes-11-12am" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-miercoles-11-12am" id="td-miercoles-11-12am" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-jueves-11-12am" id="td-jueves-11-12am" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-viernes-11-12am" id="td-viernes-11-12am" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-sabado-11-12am" id="td-sabado-11-12am" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                    </tr>

                    <tr>
                        <td class="hora-td">12:00-01:00 pm</td>
                        <td element="td-lunes-12-01pm" id="td-lunes-12-01am" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-martes-12-01pm" id="td-martes-12-01am" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-miercoles-12-01pm" id="td-miercoles-12-01am" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-jueves-12-01pm" id="td-jueves-12-01am" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-viernes-12-01pm" id="td-viernes-12-01am" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-sabado-12-01pm" id="td-sabado-12-01am" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                    </tr>

                    <tr>
                        <td class="hora-td">01:00-02:00 pm</td>
                        <td element="td-lunes-01-02pm" id="td-lunes-01-02pm" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-martes-01-02pm" id="td-martes-01-02pm" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-miercoles-01-02pm" id="td-miercoles-01-02pm" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-jueves-01-02pm" id="td-jueves-01-02pm" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-viernes-01-02pm" id="td-viernes-01-02pm" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-sabado-01-02pm" id="td-sabado-01-02pm" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                    </tr>

                    <tr>
                        <td class="hora-td">02:00-03:00 pm</td>
                        <td element="td-lunes-02-03pm" id="td-lunes-02-03pm" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-martes-02-03pm" id="td-martes-02-03pm" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-miercoles-02-03pm" id="td-miercoles-02-03pm" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-jueves-02-03pm" id="td-jueves-02-03pm" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-viernes-02-03pm" id="td-viernes-02-03pm" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-sabado-02-03pm" id="td-sabado-02-03pm" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                    </tr>

                    <tr>
                        <td class="hora-td">03:00-04:00 pm</td>
                        <td element="td-lunes-03-04pm" id="td-lunes-03-04pm" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-martes-03-04pm" id="td-martes-03-04pm" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-miercoles-03-04pm" id="td-miercoles-03-04pm" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-jueves-03-04pm" id="td-jueves-03-04pm" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-viernes-03-04pm" id="td-viernes-03-04pm" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-sabado-03-04pm" id="td-sabado-03-04pm" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                    </tr>

                    <tr>
                        <td class="hora-td">04:00-05:00 pm</td>
                        <td element="td-lunes-04-05pm" id="td-lunes-04-05pm" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-martes-04-05pm" id="td-martes-04-05pm" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-miercoles-04-05pm" id="td-miercoles-04-05pm" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-jueves-04-05pm" id="td-jueves-04-05pm" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-viernes-04-05pm" id="td-viernes-04-05pm" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                        <td element="td-sabado-04-05pm" id="td-sabado-04-05pm" onclick="select_horario(this.getAttribute('element'), 'deporte')"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

{% endblock %}