{% extends 'base.html' %}

{% block title %}Cursos{% endblock %}

{% block content %}

    <style>
        body{
            overflow-x: hidden;
        }
    </style>
    
    <div class="alumnos-options__wrapper">
        <h1>Crear sección</h1>
        <hr class="divider">
    </div>

    <div class="crear-seccion__wrapper">
        <form idcurso="{{cursos[0].idCurso}}" onsubmit="crear_Seccion(this.getAttribute('idcurso'), event)">
            <div class="crear-seccion__main-container">
                <div class="edit-h2__container crear-seccion__container"><h2>Sección</h2></div>
                <hr class="divider">
                <div class="edit__container crear-seccion-input__container">
                    <input type="text" id="crearSeccion">
                </div>
            </div>

            <div class="crear-seccion__main-container">
                <div class="edit-h2__container crear-seccion__container"><h2>Profesor de la sección</h2></div>
                <hr class="divider">
                <div class="edit__container crear-seccion-input__container">
                    <select name="" id="profesorCrearSeccion">
                        <option value="Seleccione un profesor">Seleccione un profesor</option>
                        {% for record in profesores %}
                            <option value="{{record.idProfesor}}">{{record.nombre}} {{record.apellido}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="crear-seccion__main-container">
                <div class="edit-h2__container crear-seccion__container"><h2>Aula</h2></div>
                <hr class="divider">
                <div class="edit__container crear-seccion-input__container">
                    <input type="text" id="aulaSeccion">
                </div>
            </div>

            <div class="crear-seccion__main-container">
                <div class="edit-h2__container crear-seccion__container"><h2>Creación de horario para la sección</h2></div>
                <hr class="divider">
                    <div class="table-responsive horario__container crear-horario" id="horario__container">
                                        <table class="table table-bordered border-dark table-horario" id="tabla-horario">
                        <tr>
                            <th>Hora</th>
                            <th>Lunes</th>
                            <th>Martes</th>
                            <th>Miércoles</th>
                            <th>Jueves</th>
                            <th>Viernes</th>
                            <th>Sábado</th>
                        </tr>

                        <tr>
                            <td class="hora-td">8:00-9:00 am</td>

                            <td data-dia="Lunes" data-hora-inicio="08:00:00" data-hora-fin="09:00:00" curso="{{cursos[0].nombre_curso}}" 
                            onclick="select_horario('columna-lunes-8-9', this.getAttribute('curso'))" id="columna-lunes-8-9"></td>

                            <td data-dia="Martes" data-hora-inicio="08:00:00" data-hora-fin="09:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-martes-8-9', this.getAttribute('curso'))" id="columna-martes-8-9"></td>

                            <td data-dia="Miercoles" data-hora-inicio="08:00:00" data-hora-fin="09:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-miercoles-8-9', this.getAttribute('curso'))" id="columna-miercoles-8-9"></td>

                            <td data-dia="Jueves" data-hora-inicio="08:00:00" data-hora-fin="09:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-jueves-8-9', this.getAttribute('curso'))" id="columna-jueves-8-9"></td>

                            <td data-dia="Viernes" data-hora-inicio="08:00:00" data-hora-fin="09:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-viernes-8-9', this.getAttribute('curso'))" id="columna-viernes-8-9"></td>

                            <td data-dia="Sabado" data-hora-inicio="08:00:00" data-hora-fin="09:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-sabado-8-9', this.getAttribute('curso'))" id="columna-sabado-8-9"></td>

                        </tr>

                        <tr>
                            <td class="hora-td">9:00-10:00 am</td>

                            <td data-dia="Lunes" data-hora-inicio="09:00:00" data-hora-fin="10:00:00" curso="{{cursos[0].nombre_curso}}" 
                            onclick="select_horario('columna-lunes-9-10', this.getAttribute('curso'))" id="columna-lunes-9-10"></td>

                            <td data-dia="Martes" data-hora-inicio="09:00:00" data-hora-fin="10:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-martes-9-10', this.getAttribute('curso'))" id="columna-martes-9-10"></td>

                            <td data-dia="Miercoles" data-hora-inicio="09:00:00" data-hora-fin="10:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-miercoles-9-10', this.getAttribute('curso'))" id="columna-miercoles-9-10"></td>

                            <td data-dia="Jueves" data-hora-inicio="09:00:00" data-hora-fin="10:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-jueves-9-10', this.getAttribute('curso'))" id="columna-jueves-9-10"></td>

                            <td data-dia="Viernes" data-hora-inicio="09:00:00" data-hora-fin="10:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-viernes-9-10', this.getAttribute('curso'))" id="columna-viernes-9-10"></td>

                            <td data-dia="Sabado" data-hora-inicio="09:00:00" data-hora-fin="10:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-sabado-9-10', this.getAttribute('curso'))" id="columna-sabado-9-10"></td>
                        </tr>

                        <tr>
                            <td class="hora-td">10:00-11:00 am</td>

                            <td data-dia="Lunes" data-hora-inicio="10:00:00" data-hora-fin="11:00:00" curso="{{cursos[0].nombre_curso}}" 
                            onclick="select_horario('columna-lunes-10-11', this.getAttribute('curso'))" id="columna-lunes-10-11"></td>

                            <td data-dia="Martes" data-hora-inicio="10:00:00" data-hora-fin="11:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-martes-10-11', this.getAttribute('curso'))" id="columna-martes-10-11"></td>

                            <td data-dia="Miercoles" data-hora-inicio="10:00:00" data-hora-fin="11:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-miercoles-10-11', this.getAttribute('curso'))" id="columna-miercoles-10-11"></td>

                            <td data-dia="Jueves" data-hora-inicio="10:00:00" data-hora-fin="11:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-jueves-10-11', this.getAttribute('curso'))" id="columna-jueves-10-11"></td>

                            <td data-dia="Viernes" data-hora-inicio="10:00:00" data-hora-fin="11:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-viernes-10-11', this.getAttribute('curso'))" id="columna-viernes-10-11"></td>

                            <td data-dia="Sabado" data-hora-inicio="10:00:00" data-hora-fin="11:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-sabado-10-11', this.getAttribute('curso'))" id="columna-sabado-10-11"></td>
                        </tr>

                        <tr>
                            <td class="hora-td">11:00-12:00 am</td>

                            <td data-dia="Lunes" data-hora-inicio="11:00:00" data-hora-fin="12:00:00" curso="{{cursos[0].nombre_curso}}" 
                            onclick="select_horario('columna-lunes-11-12', this.getAttribute('curso'))" id="columna-lunes-11-12"></td>

                            <td data-dia="Martes" data-hora-inicio="11:00:00" data-hora-fin="12:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-martes-11-12', this.getAttribute('curso'))" id="columna-martes-11-12"></td>

                            <td data-dia="Miercoles" data-hora-inicio="11:00:00" data-hora-fin="12:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-miercoles-11-12', this.getAttribute('curso'))" id="columna-miercoles-11-12"></td>

                            <td data-dia="Jueves" data-hora-inicio="11:00:00" data-hora-fin="12:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-jueves-11-12', this.getAttribute('curso'))" id="columna-jueves-11-12"></td>

                            <td data-dia="Viernes" data-hora-inicio="11:00:00" data-hora-fin="12:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-viernes-11-12', this.getAttribute('curso'))" id="columna-viernes-11-12"></td>

                            <td data-dia="Sabado" data-hora-inicio="11:00:00" data-hora-fin="12:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-sabado-11-12', this.getAttribute('curso'))" id="columna-sabado-11-12"></td>
                        </tr>

                        <tr>
                            <td class="hora-td">12:00-01:00 pm</td>

                            <td data-dia="Lunes" data-hora-inicio="12:00:00" data-hora-fin="13:00:00" curso="{{cursos[0].nombre_curso}}" 
                            onclick="select_horario('columna-lunes-12-13', this.getAttribute('curso'))" id="columna-lunes-12-13"></td>

                            <td data-dia="Martes" data-hora-inicio="12:00:00" data-hora-fin="13:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-martes-12-13', this.getAttribute('curso'))" id="columna-martes-12-13"></td>

                            <td data-dia="Miercoles" data-hora-inicio="12:00:00" data-hora-fin="13:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-miercoles-12-13', this.getAttribute('curso'))" id="columna-miercoles-12-13"></td>

                            <td data-dia="Jueves" data-hora-inicio="12:00:00" data-hora-fin="13:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-jueves-12-13', this.getAttribute('curso'))" id="columna-jueves-12-13"></td>

                            <td data-dia="Viernes" data-hora-inicio="12:00:00" data-hora-fin="13:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-viernes-12-13', this.getAttribute('curso'))" id="columna-viernes-12-13"></td>

                            <td data-dia="Sabado" data-hora-inicio="12:00:00" data-hora-fin="13:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-sabado-12-13', this.getAttribute('curso'))" id="columna-sabado-12-13"></td>
                        </tr>

                        <tr>
                            <td class="hora-td">01:00-02:00 pm</td>

                            <td data-dia="Lunes" data-hora-inicio="13:00:00" data-hora-fin="14:00:00" curso="{{cursos[0].nombre_curso}}" 
                            onclick="select_horario('columna-lunes-13-14', this.getAttribute('curso'))" id="columna-lunes-13-14"></td>

                            <td data-dia="Martes" data-hora-inicio="13:00:00" data-hora-fin="14:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-martes-13-14', this.getAttribute('curso'))" id="columna-martes-13-14"></td>

                            <td data-dia="Miercoles" data-hora-inicio="13:00:00" data-hora-fin="14:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-miercoles-13-14', this.getAttribute('curso'))" id="columna-miercoles-13-14"></td>

                            <td data-dia="Jueves" data-hora-inicio="13:00:00" data-hora-fin="14:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-jueves-13-14', this.getAttribute('curso'))" id="columna-jueves-13-14"></td>

                            <td data-dia="Viernes" data-hora-inicio="13:00:00" data-hora-fin="14:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-viernes-13-14', this.getAttribute('curso'))" id="columna-viernes-13-14"></td>

                            <td data-dia="Sabado" data-hora-inicio="13:00:00" data-hora-fin="14:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-sabado-13-14', this.getAttribute('curso'))" id="columna-sabado-13-14"></td>
                        </tr>

                        <tr>
                            <td class="hora-td">02:00-03:00 pm</td>

                            <td data-dia="Lunes" data-hora-inicio="14:00:00" data-hora-fin="15:00:00" curso="{{cursos[0].nombre_curso}}" 
                            onclick="select_horario('columna-lunes-14-15', this.getAttribute('curso'))" id="columna-lunes-14-15"></td>

                            <td data-dia="Martes" data-hora-inicio="14:00:00" data-hora-fin="15:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-martes-14-15', this.getAttribute('curso'))" id="columna-martes-14-15"></td>

                            <td data-dia="Miercoles" data-hora-inicio="14:00:00" data-hora-fin="15:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-miercoles-14-15', this.getAttribute('curso'))" id="columna-miercoles-14-15"></td>

                            <td data-dia="Jueves" data-hora-inicio="14:00:00" data-hora-fin="15:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-jueves-14-15', this.getAttribute('curso'))" id="columna-jueves-14-15"></td>

                            <td data-dia="Viernes" data-hora-inicio="14:00:00" data-hora-fin="15:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-viernes-14-15', this.getAttribute('curso'))" id="columna-viernes-14-15"></td>

                            <td data-dia="Sabado" data-hora-inicio="14:00:00" data-hora-fin="15:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-sabado-14-15', this.getAttribute('curso'))" id="columna-sabado-14-15"></td>
                        </tr>

                        <tr>
                            <td class="hora-td">03:00-04:00 pm</td>

                            <td data-dia="Lunes" data-hora-inicio="15:00:00" data-hora-fin="16:00:00" curso="{{cursos[0].nombre_curso}}" 
                            onclick="select_horario('columna-lunes-15-16', this.getAttribute('curso'))" id="columna-lunes-15-16"></td>

                            <td data-dia="Martes" data-hora-inicio="15:00:00" data-hora-fin="16:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-martes-15-16', this.getAttribute('curso'))" id="columna-martes-15-16"></td>

                            <td data-dia="Miercoles" data-hora-inicio="15:00:00" data-hora-fin="16:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-miercoles-15-16', this.getAttribute('curso'))" id="columna-miercoles-15-16"></td>

                            <td data-dia="Jueves" data-hora-inicio="15:00:00" data-hora-fin="16:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-jueves-15-16', this.getAttribute('curso'))" id="columna-jueves-15-16"></td>

                            <td data-dia="Viernes" data-hora-inicio="15:00:00" data-hora-fin="16:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-viernes-15-16', this.getAttribute('curso'))" id="columna-viernes-15-16"></td>

                            <td data-dia="Sabado" data-hora-inicio="15:00:00" data-hora-fin="16:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-sabado-15-16', this.getAttribute('curso'))" id="columna-sabado-15-16"></td>
                        </tr>

                        <tr>
                            <td class="hora-td">04:00-05:00 pm</td>

                            <td data-dia="Lunes" data-hora-inicio="16:00:00" data-hora-fin="17:00:00" curso="{{cursos[0].nombre_curso}}" 
                            onclick="select_horario('columna-lunes-16-17', this.getAttribute('curso'))" id="columna-lunes-16-17"></td>

                            <td data-dia="Martes" data-hora-inicio="16:00:00" data-hora-fin="17:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-martes-16-17', this.getAttribute('curso'))" id="columna-martes-16-17"></td>

                            <td data-dia="Miercoles" data-hora-inicio="16:00:00" data-hora-fin="17:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-miercoles-16-17', this.getAttribute('curso'))" id="columna-miercoles-16-17"></td>

                            <td data-dia="Jueves" data-hora-inicio="16:00:00" data-hora-fin="17:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-jueves-16-17', this.getAttribute('curso'))" id="columna-jueves-16-17"></td>

                            <td data-dia="Viernes" data-hora-inicio="16:00:00" data-hora-fin="17:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-viernes-16-17', this.getAttribute('curso'))" id="columna-viernes-16-17"></td>

                            <td data-dia="Sabado" data-hora-inicio="16:00:00" data-hora-fin="17:00:00" curso="{{cursos[0].nombre_curso}}"
                            onclick="select_horario('columna-sabado-16-17', this.getAttribute('curso'))" id="columna-sabado-16-17"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="btn-crearSeccion__container">
                <button type="submit" class="btn btn-primary">Crear</button>
            </div>
        </form>
    </div>

{% endblock %}