{% extends 'base.html' %}
{% block title %} Cursos {% endblock %}

{% block content %} 
    <div class="alumnos-options__wrapper">
        <h1>Secciones de {{cursos[0].nombre_curso.lower()}}</h1>

        <div class="alumnos-options__container">
            <button class="btn btn-primary btn-reporte" onclick="imprimirReporte()">Generar reporte</button>
            <button class="btn btn-primary btn-excel" onclick="migrarExcel()">Migrar a excel</button>
            <a href="{{url_for('cursos.crear_seccion', idCurso=cursos[0].idCurso)}}">
                <button class="btn btn-primary btn-crear">Crear sección</button>
            </a>
            <form action="" method="post" class="filtrar-alumno__form">
                <input type="search" placeholder="Buscar curso" class="filtrar-alumno__input" name="curso">
            </form>
        </div>

        <hr class="divider">
    </div>

    <div class="table-responsive">
        <table class="table table-striped-columns table-alumnos" id="tablaAlumnos">
            <tr>
                <th>ID</th>
                <th>Profesor</th>
                <th>Sección</th>
            </tr>

            {% for record in secciones %}
                <tr>
                    <td>{{record.idSeccion}}</td>
                    <td>{{record.nombre}} {{record.apellido}}</td>
                    <td>{{record.seccion}}</td>
                    <td class="tabla-btn">
                        <button class="btn btn-primary btn-secciones" data-bs-toggle="modal" data-bs-target="#horario-modal" idseccion="{{record.idSeccion}}" onclick="buscar_horario()">
                            Horario
                        </button>
                        <input type="hidde" value="{{record.idSeccion}}" id="select-seccion-inscripcion">
                    </td>

                    <td class="tabla-btn">
                        <a href="{{url_for('cursos.calificaciones', idSeccion=record.idSeccion)}}" class="editar-link">
                            <button class="btn btn-primary btn-secciones">
                                Calificaciones
                            </button>
                        </a>
                    </td>


                    <td class="tabla-btn">
                        <a href="#" class="editar-link">
                            <button class="btn btn-primary">
                                Editar
                            </button>
                        </a>
                    </td>
                    <td class="tabla-btn">
                        <button class="btn btn-danger" idseccion="{{record.idSeccion}}" onclick="eliminar_seccion(this.getAttribute('idseccion'))">
                            Eliminar
                        </button>
                    </td>
                    
                </tr>

            {% endfor %}

        </table>
    </div>

    <div class="modal fade" id="horario-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog horario-modal-dialog">
                <div class="modal-content horario-modal">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Horario de la sección</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body horario-modal-body">
                        <div class="table-responsive horario__container crear-horario" id="horario__container">
                            <table class="table table-bordered border-dark table-horario" id="tabla-horario">
                                <tr>
                                    <th>Hora</th>
                                    <th>Lunes</th>
                                    <th>Martes</th>
                                    <th>Miércoles</th>
                                    <th>Jueves</th>
                                    <th>Viernes</th>
                                    <th>Sábado</th>
                                </tr>

                                <tr>
                                    <td class="hora-td">8:00-9:00 am</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>

                                <tr>
                                    <td class="hora-td">9:00-10:00 am</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td class="hora-td">10:00-11:00 am</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td class="hora-td">11:00-12:00 am</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td class="hora-td">12:00-01:00 pm</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td class="hora-td">01:00-02:00 pm</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td class="hora-td">02:00-03:00 pm</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td class="hora-td">03:00-04:00 pm</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td class="hora-td">04:00-05:00 pm</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <script src="../../../../js/excel.js"></script>
    <script src="https://unpkg.com/xlsx@latest/dist/xlsx.full.min.js"></script>
    <script src="https://unpkg.com/file-saverjs@latest/FileSaver.min.js"></script>
    <script src="https://unpkg.com/tableexport@latest/dist/js/tableexport.min.js"></script>

{% endblock %}