{% extends 'base.html' %}

{% block title %}Inscripciones{% endblock %}

{% block content %}

    <style>
        body{
            overflow-x: hidden;
        }
    </style>
    
    <div class="alumnos-options__wrapper">
        <h1>Inscripciones-Alumnos regulares</h1>

        <div class="alumnos-options__container">
            <button class="btn btn-primary btn-crear" data-bs-toggle="modal" data-bs-target="#crear-alumno-modal">Crear Alumno</button>
        </div>


        <hr class="divider">
    </div>

    <div class="inscripciones__wrapper">
        <div class="cedula-input__container">
            <form class="buscar-alumno-inscripcion__form" id="buscar-alumno-inscripcion">
                <input type="search" class="input-cedula-inscripciones" placeholder="Ingresar cédula" id="inscripcion-buscar-cedula" name="cedula">
                <button class="btn btn-primary" onclick="buscar_alumno()" type="submit">Buscar alumno</button>
            </form>
        </div>

        <div class="options__container" id="inscripcion-options__container">
            <div class="img-editar">
                <img src="" id="img-alumno-inscripcion">
            </div>

            <div class="campos-inscripcion__container">
                <form id="inscripcion-form" class="inscripcion-form form-control">
                    <div class="form-input__container">
                        <label>Alumno</label>
                        <input type="text" class="form-control mb-3" name="nombre" id="alumno-nombre-inscripcion" maxlength="12" readonly>
                        <input type="text" class="form-control mb-3" name="apellido" id="alumno-apellido-inscripcion" maxlength="20" readonly>
                        <input type="number" class="form-control mb-3" name="cedula" id="alumno-cedula-inscripcion" readonly>
                        <input type="hidden" id="alumno-id-inscripcion">
                    </div>

                    <div class="form-input__container">
                        <label>Periodo</label>
                        <input type="date" class="form-control mb-3" name="InicioPeriodo" id="InicioPeriodo">
                        <input type="date" class="form-control mb-3" name="FinPeriodo" id="FinPeriodo">
                    </div>

                    <div class="form-input__container">
                        <label>Curso</label>
                        <input type="search" class="form-control mb-3" name="curso" id="curso-inscripcion" placeholder="Buscar curso" onchange="buscar_curso()">
                        <select name="seccion" id="select-seccion-inscripcion" class="form-control mb-3" onchange="buscar_horario()">
                            <option value="Selecciona una Sección">Selecciona una Sección</option>
                        </select>
                    </div>

                    <button class="btn btn-primary" id="btn-inscribir" type="submit" onclick="inscribir_alumno()">Inscribir</button>
                </form>
            </div>
        </div>

        <div class="table-responsive horario__container" id="horario__container">
            <table class="table table-bordered border-dark table-horario" id="tabla-horario">
                <tr>
                    <th>Hora</th>
                    <th>Lunes</th>
                    <th>Martes</th>
                    <th>Miércoles</th>
                    <th>Jueves</th>
                    <th>Viernes</th>
                    <th>Sábado</th>
                </tr>

                <tr>
                    <td class="hora-td">8:00-9:00 am</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>

                <tr>
                    <td class="hora-td">9:00-10:00 am</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td class="hora-td">10:00-11:00 am</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td class="hora-td">11:00-12:00 am</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td class="hora-td">12:00-01:00 pm</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td class="hora-td">01:00-02:00 pm</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td class="hora-td">02:00-03:00 pm</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td class="hora-td">03:00-04:00 pm</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td class="hora-td">04:00-05:00 pm</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="modal fade" id="crear-alumno-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo Alumno</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="crear-alumno-form">

                <label>Nombre</label>
                <input type="text" class="form-control mb-3" name="nombre" id="nombreAlumno" maxlength="12">

                <label>Segundo nombre</label>
                <input type="text" class="form-control mb-3" name="segundoNombre" id="segundoNombreAlumno" maxlength="12">

                <label>Apellido</label>
                <input type="text" class="form-control mb-3" name="apellido" id="apellidoAlumno" maxlength="20">

                <label>Segundo apellido</label>
                <input type="text" class="form-control mb-3" name="segundoApellido" id="segundoApellidoAlumno" maxlength="20">

                <label>Cedula</label>
                <input type="number" class="form-control mb-3" name="cedula" id="cedulaAlumno">

                <label>Email</label>
                <input type="email" class="form-control mb-3" name="email" id="emailAlumno" maxlength="50">

                <label>Contraseña</label>
                <div class="contraseña-input-profesores__container">
                    <input type="password" class="form-control mb-3" name="contraseña" id="contraseñaAlumno" maxlength="8"> 
                    <i class="fa-solid fa-eye-slash icono-contraeña__profesores" id="contraseña-icon" id-input="contraseñaAlumno" onclick="mostrar_contraseña(this.getAttribute('id-input'))"></i>
                </div> 

                <label>Imagen</label>
                <input type="file" class="form-control mb-3" name="imagen" id="imagenAlumno">

                <button type="submit" class="btn btn-primary w-100 btn-crear-profesor" onclick="crearAlumno()">Guardar</button>
              </form>
            </div>
          </div>
        </div>
      </div>


{% endblock %}