{% extends 'base.html' %}

{% block title %}Inscripciones{% endblock %}

{% block content %}

    <style>
        body{
            overflow-x: hidden;
        }
    </style>
    
    <div class="alumnos-options__wrapper">
        <h1>Inscripciones-Nuevo ingreso</h1>
        <hr class="divider">
    </div>

    <div class="form-crear-alumnos__container">
        <form id="crear-alumno-form">

            <label>Nombre</label>
            <input type="text" class="form-control mb-3" name="nombre" id="nombreProfesor" maxlength="12">

            <label>Segundo nombre</label>
            <input type="text" class="form-control mb-3" name="segundoNombre" id="segundoNombreProfesor" maxlength="12">

            <label>Apellido</label>
            <input type="text" class="form-control mb-3" name="apellido" id="apellidoProfesor" maxlength="20">

            <label>Segundo apellido</label>
            <input type="text" class="form-control mb-3" name="segundoApellido" id="segundoApellidoProfesor" maxlength="20">

            <label>Cedula</label>
            <input type="number" class="form-control mb-3" name="cedula" id="cedulaProfesor">

            <label>Email</label>
            <input type="email" class="form-control mb-3" name="email" id="emailProfesor" maxlength="50">

            <label>Contraseña</label>
            <div class="contraseña-input-profesores__container">
                <input type="password" class="form-control mb-3" name="contraseña" id="contraseñaProfesor" maxlength="8"> 
                <i class="fa-solid fa-eye-slash icono-contraeña__profesores" id="contraseña-icon" id-input="contraseñaProfesor" onclick="mostrar_contraseña(this.getAttribute('id-input'))"></i>
            </div> 

            <label>Imagen</label>
            <input type="file" class="form-control mb-3" name="imagen" id="imagenProfesor">

            <label class="label-tipo">Especialidad</label>
            <input type="text" class="form-control mb-3" name="especialidad" id="especialidadProfesor" maxlength="20">

            <button type="submit" class="btn btn-primary w-100 btn-crear-profesor" onclick="">Guardar</button>
        </form>
    </div>
{% endblock %}