<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='flipbook/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/icono-cadi.ico') }}" type="image/x-icon">
    <title>{% block title %} Default {% endblock %}</title>
</head>

{% if current_user.imagen %}

    <style>
      .user-icon__container{
        width: 50px;
        height: 50px;
        background: url('{{url_for("usuario.get_profile_image", idusuarios=current_user.id)}}');
        border: none;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    </style>

{% endif %}
<body>
  <div class="loader__container" id="loader">
    <div class="loader"></div>
  </div>
    {% if current_user.is_authenticated %}

    <nav class="navbar navbar-expand-xxl bg-body-tertiary px-0" style="z-index: 5000;">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{url_for('usuario.inicio')}}">
            <img src="{{ url_for('static', filename='images/Cadi_logo-removeBG.png') }}" alt="Cadi" width="70px" height="70px">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-list">
            {% if current_user.rol == 'administrador' %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-person"></i>
                    <span>Alumnos</span>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{url_for('alumnos.index')}}">Vista de alumnos</a></li>
                  <li><a class="dropdown-item" href="{{url_for('alumnos.registro_familiar')}}">Registro familiar</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-person-chalkboard"></i>
                    <span>Profesores</span>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{url_for('profesores.index')}}">Vista de profesores</a></li>
                </ul>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{{url_for('facultades.index')}}">
                  <i class="fa-solid fa-building"></i>
                    <span>Facultades</span>
                </a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-chalkboard"></i>
                    <span>Cursos</span>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{url_for('cursos.index')}}">Vista de cursos</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-user-plus"></i>
                    <span>Inscripciones</span>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{url_for('inscripciones.index')}}">Pre inscripciones</a></li>
                  <li><a class="dropdown-item" href="{{url_for('inscripciones.alumnos_regulares')}}">Inscribir alumnos</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-solid fa-money-bills"></i>
                    <span>Facturación</span>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{url_for('facturacion.index')}}">Generar factura</a></li>
                  <li><a class="dropdown-item" href="{{url_for('facturacion.inventario')}}">Inventario</a></li>
                  <li><a class="dropdown-item" href="{{url_for('facturacion.historial')}}">Historial de facturas</a></li>
                </ul>
              </li>

              {% endif %}

              {% if current_user.rol == 'profesor' %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-chalkboard"></i>
                    <span>Mis secciones</span>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{url_for('profesores.mis_secciones')}}">Secciones</a></li>
                </ul>
              </li>
              {% endif %}

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <span>Acerca de</span>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{url_for('acerca.manual')}}">Manual de usuario</a></li>
                  {% if current_user.rol == 'administrador' %}
                  <li><a class="dropdown-item" href="#">Respaldo</a></li>
                  <li><a class="dropdown-item" href="#" onclick="restaurar()">Restaurar</a></li>
                  {% endif %}
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{{url_for('acerca.index')}}">Acerca del sistema</a></li>
                </ul>
              </li>

              {% if current_user.rol == 'administrador' %}
              <li class="nav-item dropdown user">
                <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="user-icon__container">
                      {% if current_user.imagen == None %}
                        <i class="fa-solid fa-user"></i>
                      {% endif %}
                    </div>
                </a>
                <ul class="dropdown-menu user-dropdown">
                  <li><a class="dropdown-item" href="{{url_for('usuario.ajustes_usuario')}}">Ajustes</a></li>
                  <li class="theme-icon">
                    <i class="fa fa-moon dropdown-item"></i>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" onclick="log_out()">Cerrar sesión</a></li>
                </ul>
              </li>
              {% endif %}

              {% if current_user.rol == 'profesor' %}
              <li class="nav-item dropdown  profesores-user">
                <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="user-icon__container">
                      {% if current_user.imagen == None %}
                        <i class="fa-solid fa-user"></i>
                      {% endif %}
                    </div>
                </a>
                <ul class="dropdown-menu user-dropdown">
                  <li><a class="dropdown-item" href="{{url_for('usuario.ajustes_usuario')}}">Ajustes</a></li>
                  <li class="theme-icon">
                    <i class="fa fa-moon dropdown-item"></i>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" onclick="log_out()">Cerrar sesión</a></li>
                </ul>
              </li>
              {% endif %}
            </ul>

          </div>
        </div>
      </nav>

    {% endif %}

    {% block content %} 
    
    {% endblock %}

    {% if current_user.is_authenticated %}
        <script src="{{ url_for('static', filename='js/darkMode.js') }}"></script>
    {% endif %}
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>