<div class="modal fade" id="dialog-confirm" tabindex="-1" aria-labelledby="confirm-title" aria-hidden="true" style="z-index: 99999; background-color: #333; opacity: 0.9;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirm-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="confirm-content"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="confirmCancel()">Cancelar</button>
                <button type="button" class="btn btn-primary" id="confirm-action" onclick="confirmAccept()">Aceptar</button>
            </div>
        </div>
    </div>
</div>